.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 3.5rem;
    background-color: #e91e63; 
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.3rem;
    color: white;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    padding: 0 1rem;
    font-size: 0.9rem;
}

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        font-weight: bold;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255, 255, 255, 0.37);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: #ffd1dc;
            color: white;
        }

.navbar-nav .nav-icon {
    width: 24px; /* Size adjustment to make sure it fits in the navbar */
    height: 24px; /* Ensure the height fits */
    filter:invert(1) !important;
    margin-left: 15px; /* Add space between the icons */
    vertical-align: middle; /* Align them vertically in the navbar */
}

/* Ensure the icons align to the right */
.navbar-nav.ms-auto {
    margin-left: auto;
}

/* Make sure the navbar and icons are responsive for mobile */
@media (max-width: 768px) {
    .navbar-nav.ms-auto {
        margin-top: 10px;
    }
}
