@page "/aboutUs"
<PageTitle>About Us</PageTitle>

<section class="about-section">
    <h1>About Us</h1>

    <div class="content-section">
        <div class="content-box">
            <h2>Who are we?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget nisl nisl fermentum gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <img src="/Assets/AboutUs1.jpg" alt="About Us Image 1" />
        </div>

        <div class="content-box">
            <h2>Why we do what we do</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non felis faucibus felis dignissim a condimentum magna hendrerit. Lorem ipsum dolor sit amet.
            </p>
            <img src="/Assets/AboutUs2.jpg" alt="About Us Image 2" />
        </div>

        <div class="content-box">
            <h2>How it works</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula ultrices eros, et fermentum lorem. Lorem ipsum dolor sit amet.
            </p>
            <img src="/Assets/AboutUs3.jpg" alt="About Us Image 3" />
        </div>
    </div>
</section>