@page "/address-book"

<div class="address-book-page">
    <h1 class="address-book-title">Billing Addresses</h1>

    <div class="address-list">
        <!-- Address 1 (Selected Address) -->
        <div class="address-box selected">
            <div class="name-phone-row">
                <p class="address-name">John</p>
                <p class="address-phone">0762468867</p>
            </div>
            <p class="address-details">27 Walmer park, Port Elizabeth, 1234</p>
            <p class="address-type">Residential</p>
        </div>

        <!-- Address 2 (Unselected) -->
        <div class="address-box">
            <div class="name-phone-row">
                <p class="address-name">Jane</p>
                <p class="address-phone">0762468866</p>
            </div>
            <p class="address-details">23 Newton park, Port Elizabeth, 1235</p>
            <p class="address-type">Business</p>
        </div>
    </div>
</div>
