@page "/order-confirmed"

<div class="order-confirmed-container">
    <div class="confirmation-message">
        <h1>Thank you!</h1>
        <p>A confirmation has been sent to your email.</p>

        <div class="social-links">
            <p>Receive More Updates Here!</p>
            <div class="icons">
                <a href="#"><img src="/Assets/Facebook.png" alt="Facebook" /></a>
            </div>
        </div>
    </div>
</div>
