@page "/order-confirmed"
@inject NavigationManager Navigation

<div class="order-confirmed-container">
    <div class="confirmation-message">
        <h1>Thank you!</h1>
        <p>Your order has been confirmed and is being processed</p>
        <p>Your order will be ready for pickup soon at: </p>
        <p><strong>@branchName Branch</strong></p>
        <p>@branchAddress</p>


        <div class="social-links">
            <p>Receive More Updates Here!</p>
            <div class="icons">
                <a href="https://www.facebook.com/numnumbabyfood/"><img src="/Assets/Facebook.png" alt="Facebook" /></a>
            </div>
        </div>
    </div>
</div>

@code {
    private string branchName;
    private string branchAddress;

    protected override void OnInitialized()
    {

        var uri = new Uri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        branchName = query["branchName"] ?? "Unknown Branch";
        branchAddress = query["branchAddress"] ?? "Unknown Address";
    }
}
